<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled (Backup 1619087655047)</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">Venti.jl - JuliaImages Learning Tool&nbsp;</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">First Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">Dropdown </a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col">
                        <h1 style="font-size: 40px;">Package Tools</h1>
                        <ul>
                            <li>ImageBinarization.jl
                                <ul>
                                    <li>Item 1</li>
                                    <li>Item 2</li>
                                    <li>Item 3</li>
                                    <li>Item 4</li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>ImageMorphology.jl</li>
                        </ul>
                        <div class="form-check" style="margin-left: 57px;margin-top: -15px;"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Erosion</label></div>
                        <div class="form-check" style="margin-left: 57px;margin-top: 0;"><input class="form-check-input" type="radio" id="formCheck-3"><label class="form-check-label" for="formCheck-1">Dilation</label></div>
                        <div class="form-check" style="margin-left: 57px;margin-top: 0;"><input class="form-check-input" type="radio" id="formCheck-2"><label class="form-check-label" for="formCheck-1">Opening</label></div>
                        <div class="form-check" style="margin-left: 57px;margin-top: 0;"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Closing</label></div>
                        <div class="form-check" style="margin-left: 57px;margin-top: 0;"><input class="form-check-input" type="radio" id="formCheck-5"><label class="form-check-label" for="formCheck-1">TopHat</label></div>
                        <div class="form-check" style="margin-left: 57px;margin-top: 0;"><input class="form-check-input" type="radio" id="formCheck-4"><label class="form-check-label" for="formCheck-1">BotHat</label></div>
                        <div class="form-check" style="margin-left: 57px;margin-top: 0;"><input class="form-check-input" type="radio" id="formCheck-6"><label class="form-check-label" for="formCheck-1">Convex Hull</label></div>
                        <div class="form-check" style="margin-left: 57px;margin-top: 0;"><input class="form-check-input" type="radio" id="formCheck-4"><label class="form-check-label" for="formCheck-1">Clear Border</label></div>
                        <div class="form-check" style="margin-left: 57px;margin-top: 0;"><input class="form-check-input" type="radio" id="formCheck-7"><label class="form-check-label" for="formCheck-1">Image Fill</label></div>
                        <ul>
                            <li>ImageSegmentation.jl</li>
                        </ul>
                        <div class="form-check" style="margin-left: 57px;margin-top: -15px;"><input class="form-check-input" type="radio" id="formCheck-11"><label class="form-check-label" for="formCheck-1">Erosion</label></div>
                        <div class="form-check" style="margin-left: 57px;margin-top: 0;"><input class="form-check-input" type="radio" id="formCheck-10"><label class="form-check-label" for="formCheck-1">Image Fill</label></div>
                        <div class="form-check" style="margin-left: 57px;margin-top: 0;"><input class="form-check-input" type="radio" id="formCheck-9"><label class="form-check-label" for="formCheck-1">Image Fill</label></div>
                        <div class="form-check" style="margin-left: 57px;margin-top: 0;"><input class="form-check-input" type="radio" id="formCheck-8"><label class="form-check-label" for="formCheck-1">Image Fill</label></div>
                        <ul>
                            <li>ImageBinarization.jl
                                <ul>
                                    <li>Item 1</li>
                                    <li>Item 2</li>
                                    <li>Item 3</li>
                                    <li>Item 4</li>
                                </ul>
                            </li>
                            <li>ImageMorphology.jl</li>
                            <li>ImageSegmentation.jl</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Initial Image</h4>
                                <h6 class="text-muted card-subtitle mb-2">Monkey.jpg</h6><img src="assets/img/Screenshot%20from%202021-04-17%2016-59-50.png" style="height: 254px;">
                                <p class="card-text">Comments</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Result Image</h4>
                                <h6 class="text-muted card-subtitle mb-2">Monkey_result.jpg</h6><img src="assets/img/Screenshot%20from%202021-04-17%2016-59-50.png" style="height: 249px;">
                                <p class="card-text">Comments</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <%
    yield
    %>
</body>

</html>